@page "/"
@using TailBlazor

<PageTitle>Index</PageTitle>

<h1 class="bg">Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?"/>

<p class="mt-2 text-sm text-gray-600">
    Or
    <a href="#" class="font-medium text-pink-500 hover:text-green-500">
        start your 14-day free trial
    </a>
</p>

<Test1></Test1>